@{
  Layout = "_Layout";
}

<body>
  <h1>Add Band</h1>
  <hr>
  <form class="form-group" action="/bands" method="post">
    <label for="band-name">Name</label>
    <input class="form-control" type="text" name="band-name" value="">
    <br>
    <button type="submit" class="btn" name="button">Add Band</button>
  </form>
  <br>
  <a href="/bands">View Bands</a><br>
  <a href="/">Home</a>


</body>
