@{
  Layout = "_Layout";
}

<body>
  <h1>Add Venue</h1>
  <hr>
  <form class="form-group" action="/venues" method="post">
    <label for="venue-name">Name</label>
    <input class="form-control" type="text" name="venue-name" value="">
    <br>
    <button class="btn" type="submit" name="button">Add Venue</button>
  </form>
<br>
  <a href="/venues">View Venues</a><br>
  <a href="/">Home</a>

</body>
